/*-- RESET --*/
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

* {
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: white;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}

/*--/ RESET --*/

/*-- GRID LAYOUT --*/

.container-top {
    background-color: black;
    height: 40px;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.container-main {
    background-color: black;
    color: white;
    width: 100vw;
    height: calc(100vh - 120px);
    overflow-y: auto;
    padding-top: 30px;
}

.container-bottom {
    background-color: #222222;
    height: 80px;
    width: 100vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    width: 100%;
}

.col-grow {
    flex-grow: 1;
}

.col-15 {
    width: calc(100%/7);
}

.col-33 {
    width: calc(100%/3);
}

/*--/ GRID LAYOUT --*/


/*-- TOP --*/

.screen-top {
    justify-content: flex-end;
    align-items: center;
}

.toggle-screen-view {
    display: flex;
    margin-top: 10px;
}

.toggle-screen-view button {
    color: white;
    background-color: #222222;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
}

/*--/ TOP --*/

/*-- MAIN --*/

.container-main .row {
    justify-content: center;
    align-items: center;
}

.container-main .col-15 {
    margin: 15px 5px;
}

.main-row .col-15 {
    position: relative;
}

.main-row small {
position: absolute;
bottom: 4px;
left: 1px;
z-index: 1;

background-color:  rgba(0, 0, 0, 0.6);
}

/*--/ MAIN --*/


/*-- BOTTOM --*/

.option-bar-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.option-bar-center {
    display: flex;
    justify-content: center;
}

.option-bar-right {
    display: flex;
    justify-content: end;
}

.container-bottom button {
    color: white;
    background-color: #222222;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
}
/*--/ BOTTOM --*/